<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HOTEL.My.MySettings.THE_SHIV_GRANDConnectionString"
            connectionString="Data Source=DESKTOP-SHA2H0O;Initial Catalog=THE_SHIV_GRAND;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>